<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <H2>Rechteck</H2>
    <p>Breite: <%= breite%></p>
    <p>Länge: <%= laenge%></p>
    <H2>Schüler</H2>
    <p>Geschlecht: <%= geschlecht%></p>
    <p>Alter: <%= alter%></p>
    <H2>Auto</H2>
    <p>Model: <%= model%></p>
    <p>Baujahr: <%= baujahr%></p>
    <p>Preis: <%= preis%></p>
    <p>Leistung: <%= leistung%></p>
    <p>Zustand: <%= zustand%></p>
</body>
</html>